@import "tailwindcss";

:root {
  --warm-fog: #DDD3C9;
  --berry-good: #ECC4C3;
  --koubai: #B97D7B;
  --meadow: #928E5E;
  --soldier: #575527;

  --font-sans: 'DM Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--warm-fog);
  font-family: var(--font-sans);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
button {
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.97);
}

::-webkit-scrollbar {
  width: 0px;
}